/* entire html  */
html {
    height: 100%;
    width: 100%;
    
}

body {
    background: whitesmoke;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    background: linear-gradient(45deg, rgba(0, 5, 15, 0.167), rgba(0, 0, 0, 0.386)), url('background.jpg');
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
}

/* logo and heading */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

/* main heading (Storm Stalk) */
.header h1 {
    color: #00fbff;
    font-style: italic;
    font-size: 24px;
    margin-top: -30px;
    font-family: 'Orbitron', sans-serif;
}

/* divider between left(current forecast) and right(upcoming forecast) */
.divider1{
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
}

/* for city search */
#input {
    font-size: 16px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 8px;
    background: aliceblue;
    width: 60%;
    max-width: 300px;
}

/* search button */
#search {
    padding: 5px 10px;
    color: aliceblue;
    outline: none;
    background: rgb(95, 130, 160);
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

#search span {
    margin-left: 10px;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

#search:hover span {
    width: 30px;
}

/* current weather class -> temp-box */
.temp-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
}

.temp-box img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.weather {
    text-align: center;
    color: aliceblue;
}

#city {
    font-size: 24px;
}

.weather img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(240, 248, 255, 0.408);
}

#temperature {
    font-size: 36px;
    margin: 0;
    margin-bottom: 10px;
}

#clouds {
    font-size: 20px;
    background: rgb(43, 45, 45);
    padding: 2px 20px;
    border-radius: 15px;
}

main {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr;
    align-items: center;
    margin: 0 1rem;
    color: white;
}

/* upcoming forecast -> next */
.next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.next p,
.next h3 {
    margin: 3px 0;
}

/* next 4 days forecast -> forecstD */
.forecstD {
    margin: 20px 1rem;
    color: aliceblue;
}

.weekF {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.cast-header {
    color: aliceblue;
    background: rgba(21, 255, 0, 0.539);
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 15px;
    margin-bottom: 5px;
}

 /* divider between current weather and upcoming forecast  */
.divider1 {
    background: rgba(26, 241, 11, 0.539);
    width: 10px; /* Adjust the thickness as needed */
    height: 100%; /* Make the divider span the full height */
    border-radius: 5px;
    left: 50%;
}

.divider2{
    height: 5px;
    width: 30%;
    margin: 0 auto;
}

.time,
.date {
    color: rgb(211, 196, 21);
}

.desc {
    color: rgb(20, 201, 233);
}

/* Media Queries for Responsiveness */
@media only screen and (min-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    #input {
        margin: 0;
        margin-top: 10px;
    }

    #search {
        margin-top: 10px;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1024px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}
